.header {
  font-size: 30px;
  margin-bottom: 20px;
}
.edit {
  padding: 10px 0px;
}
.edit_error {
  height: 60px;
  font-size: 20px;
}
.error_block {
  padding: 10px 0px;
}
.put_error {
  height: 60px;
  font-size: 20px;
  width: 50%;
}
.draft {
  border: 0;
  background: linear-gradient(to right, #858484, #bcbbbb);
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.2s;
  margin-left: 25px;
}
.draft:hover {
  transform: scale(1.05);
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.edit_button {
  border: 0;
  background: linear-gradient(to right, #fb670b, #fa9823);
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.2s;
}
.edit_button:hover {
  transform: scale(1.05);
}
