.birthday {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  max-width: 60%;
}

@media screen and (max-width: 1160px) {
  .birthday {
    max-width: 100%;
    margin: 0 auto;
  }
}

.birthday__img {
  max-width: 150px;
  min-width: 70px;
  margin-right: 40px;
}

.birthday__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text {
  font-size: 16px;
  line-height: 24px;
}

.birthday__text a {
  color: #fe5000;
  text-decoration: underline;
}

.birthday__img:hover {
  animation: present 0.5s;
}
@keyframes present {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.close {
  display: none;
}
