.content {
	display: flex;
	justify-content: space-around;
	width: 100%;
	flex-flow: wrap;
}

.select {
	width: 17rem;
	margin-top: 5px;
}

.select > div > span > div> img {
	display: none;
}

.option_content {
	display: flex;
	justify-content: space-between;
}

.element {
	margin: 10px 0;
}

.form {
	width: min(400px, 50%);
}

.reservation_list_buttons {
	display: flex;
	width: 20%;
	align-items: center;
	justify-content: space-between;
}
.reservation_list_buttons > img {
	height: 50px;
}
.reservation_list_buttons > h4 {
	text-align: center;
}

.first_column {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.delete_button {
	margin-bottom: 50px;
	color: red;
}
